py-trees==0.8.3                 # 2.1.6 not compatible
networkx==2.2                   # 3.0 seems to be compatible
Shapely==2.0.0                  # 2.0.0 seems to be compatible
psutil==5.5.1                   # 5.9.4 seems to be compatible
xmlschema==1.0.18               # 2.1.1 seems to be compatible
ephem==4.1.4
tabulate==0.9.0
opencv-python==4.8.0.74         # 4.8.0.68 seems to be compatible
matplotlib==3.5
numpy==1.23.5                   # 1.23.5 seems to be compatible
six==1.16.0
simple-watchdog-timer==0.1.1
protobuf==3.20.3                # 4.21.12 not compatible
grpcio==1.51.1 
grpcio-tools==1.44.0